<div class="page-wrap-form">

  <div class="content-wrap-form">

    <h1>New cocktail</h1>

    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :image %>
      <%= f.input :photo, as: :file %>
      <div class="submit">
        <%= f.button :submit %>
      </div>
    <% end %>

    <div class="button-icon-form">
      <%= link_to cocktails_path do %>
      <i class="fas fa-long-arrow-alt-left"></i>
      <% end %>
    </div>

  </div>
</div>
